<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_BLL.Properties.Settings.QL_QUANANConnectionString"
            connectionString="Data Source=DESKTOP-TGG6ED3\SQLEXPRESS;Initial Catalog=QL_QUANAN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>