CREATE DATABASE [QL_QUANAN]
GO

USE [QL_QUANAN]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_QUANAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_QUANAN]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 10/29/2023 6:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[MACTHD] [nvarchar](10) NOT NULL,
	[MAHD] [nvarchar](10) NULL,
	[MASP] [nvarchar](10) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPHIEUNHAPHANG]    Script Date: 10/29/2023 6:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUNHAPHANG](
	[MACTPHIEUNHAP] [nvarchar](10) NOT NULL,
	[MAPHIEUNHAP] [nvarchar](10) NULL,
	[MASP] [nvarchar](10) NULL,
	[SOLUONG] [int] NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[THANHTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_ManHinh]    Script Date: 10/29/2023 6:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_ManHinh](
	[MaManHinh] [nvarchar](50) NOT NULL,
	[TenManHinh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DM_] PRIMARY KEY CLUSTERED 
(
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 10/29/2023 6:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nvarchar](10) NOT NULL,
	[NGAYDAT] [datetime] NULL,
	[MAKH] [nvarchar](10) NULL,
	[MANV] [nvarchar](50) NULL,
	[TONGTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/29/2023 6:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 10/29/2023 6:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAI] [nvarchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 10/29/2023 6:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [nvarchar](10) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DULIEUANH]    Script Date: 10/29/2023 6:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DULIEUANH](
	[MAANH] [nvarchar](10) NOT NULL,
	[TENANH] [nvarchar] NULL,
	[MASP] [nvarchar](10) NOT NULL
PRIMARY KEY CLUSTERED 
(
	[MAANH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/29/2023 6:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](50) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[SDT] [nvarchar](12) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[LUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 10/29/2023 6:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[MAPHIEUNHAP] [nvarchar](10) NOT NULL,
	[MANCC] [nvarchar](10) NULL,
	[NGAYNHAP] [datetime] NULL,
	[TONGTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QL_NguoiDung]    Script Date: 10/29/2023 6:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_NguoiDung](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](100) NULL,
	[HoatDong] [bit] NULL,
 CONSTRAINT [PK_QL_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QL_NguoiDungNhomNguoiDung]    Script Date: 10/29/2023 6:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_NguoiDungNhomNguoiDung](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MaNhomNguoiDung] [varchar](20) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_QL_NguoiDungNhomNguoiDung] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC,
	[MaNhomNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QL_NhomNguoiDung]    Script Date: 10/29/2023 6:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_NhomNguoiDung](
	[MaNhom] [varchar](20) NOT NULL,
	[TenNhom] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_QL_NhomNguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QL_PhanQuyen]    Script Date: 10/29/2023 6:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_PhanQuyen](
	[MaNhomNguoiDung] [nvarchar](20) NOT NULL,
	[MaManHinh] [nvarchar](50) NOT NULL,
	[CoQuyen] [bit] NOT NULL,
 CONSTRAINT [PK_QL_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[MaNhomNguoiDung] ASC,
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 10/29/2023 6:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nvarchar](10) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[MOTA] [nvarchar](50) NULL,
	[MALOAI] [nvarchar](10) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
	[ANHMON] [image] null,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 10/29/2023 6:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[MANL] [nvarchar](10) NOT NULL,
	[TENNL] [nvarchar](50) NULL,
	[MALOAI] [nvarchar](10) NULL,
	[SOLUONG] [int] NULL,
	[DONVITINH] [nvarchar](10) NULL,
	[DONGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

--INSERT [dbo].[CTHOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'10', N'1', N'SP03', 1, 150000)
--INSERT [dbo].[CTHOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'11', N'1', N'SP04', 1, 250000)
--INSERT [dbo].[CTHOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'1GA0', N'1GA', N'SP02', 1, 12000)
--INSERT [dbo].[CTHOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'1GA1', N'1GA', N'SP05', 1, 16000)
--INSERT [dbo].[CTHOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'230', N'23', N'SP01', 1, 6000)
--INSERT [dbo].[CTHOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'DD0', N'DD', N'SP03', 1, 150000)
--INSERT [dbo].[CTHOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'DS0', N'DS', N'SP02', 99, 12000)
--INSERT [dbo].[CTHOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'DS1', N'DS', N'SP03', 99, 150000)
--INSERT [dbo].[CTHOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'h0', N'h', N'SP03', 1, 150000)
--INSERT [dbo].[CTHOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'h1', N'h', N'SP04', 1, 250000)
--INSERT [dbo].[CTHOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'HA10', N'HA1', N'SP03', 1, 150000)
--INSERT [dbo].[CTHOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'S0', N'S', N'SP04', 1, 250000)
--GO
--INSERT [dbo].[CTPHIEUNHAPHANG] ([MACTPHIEUNHAP], [MAPHIEUNHAP], [MASP], [SOLUONG], [DONVITINH], [THANHTIEN]) VALUES (N'120', N'12', N'SP02', 33, N'Gói', 1000)
--INSERT [dbo].[CTPHIEUNHAPHANG] ([MACTPHIEUNHAP], [MAPHIEUNHAP], [MASP], [SOLUONG], [DONVITINH], [THANHTIEN]) VALUES (N'PN020', N'PN02', N'SP02', 100, N'Gói', 10)
--INSERT [dbo].[CTPHIEUNHAPHANG] ([MACTPHIEUNHAP], [MAPHIEUNHAP], [MASP], [SOLUONG], [DONVITINH], [THANHTIEN]) VALUES (N'PN021', N'PN02', N'SP03', 100, N'H?p', 500)
--GO
--INSERT [dbo].[DM_ManHinh] ([MaManHinh], [TenManHinh]) VALUES (N'MH001', N'Admin')
--INSERT [dbo].[DM_ManHinh] ([MaManHinh], [TenManHinh]) VALUES (N'MH002', N'User')
--GO
--INSERT [dbo].[HOADON] ([MAHD], [NGAYDAT], [MAKH], [MANV], [TONGTIEN]) VALUES (N'1', CAST(N'2023-10-23T00:00:00.000' AS DateTime), N'KHVL', N'NV01', 400000)
--INSERT [dbo].[HOADON] ([MAHD], [NGAYDAT], [MAKH], [MANV], [TONGTIEN]) VALUES (N'1GA', CAST(N'2023-10-27T00:00:00.000' AS DateTime), N'KHVL', N'NV01', 28000)
--INSERT [dbo].[HOADON] ([MAHD], [NGAYDAT], [MAKH], [MANV], [TONGTIEN]) VALUES (N'23', CAST(N'2023-10-27T00:00:00.000' AS DateTime), N'KHVL', N'NV01', 6000)
--INSERT [dbo].[HOADON] ([MAHD], [NGAYDAT], [MAKH], [MANV], [TONGTIEN]) VALUES (N'DD', CAST(N'2023-10-27T00:00:00.000' AS DateTime), N'KHVL', N'NV01', 150000)
--INSERT [dbo].[HOADON] ([MAHD], [NGAYDAT], [MAKH], [MANV], [TONGTIEN]) VALUES (N'DS', CAST(N'2023-10-27T00:00:00.000' AS DateTime), N'KHVL', N'NV02', 16038000)
--INSERT [dbo].[HOADON] ([MAHD], [NGAYDAT], [MAKH], [MANV], [TONGTIEN]) VALUES (N'h', CAST(N'2023-10-23T00:00:00.000' AS DateTime), N'KHVL', N'NV01', 400000)
--INSERT [dbo].[HOADON] ([MAHD], [NGAYDAT], [MAKH], [MANV], [TONGTIEN]) VALUES (N'HA1', CAST(N'2023-10-23T00:00:00.000' AS DateTime), N'KHVL', N'NV01', 150000)
--INSERT [dbo].[HOADON] ([MAHD], [NGAYDAT], [MAKH], [MANV], [TONGTIEN]) VALUES (N'JGASD', CAST(N'2023-10-27T00:00:00.000' AS DateTime), N'KHVL', N'NV01', 546000)
--INSERT [dbo].[HOADON] ([MAHD], [NGAYDAT], [MAKH], [MANV], [TONGTIEN]) VALUES (N'KBASD', CAST(N'2023-10-27T00:00:00.000' AS DateTime), N'KHVL', N'NV01', 546000)
--INSERT [dbo].[HOADON] ([MAHD], [NGAYDAT], [MAKH], [MANV], [TONGTIEN]) VALUES (N'S', CAST(N'2023-10-27T00:00:00.000' AS DateTime), N'KHVL', N'NV01', 250000)

--GO
--INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'L01', N'Phở')
--INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'L02', N'Gạo')
--INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'L03', N'Quế')
--INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'L04', N'Hạt tiêu')
--INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'L05', N'Điều')
--INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'L06', N'Cà phê')
--INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'L07', N'Chè')
--GO
--INSERT [dbo].[NHACC] ([MANCC], [TENNCC]) VALUES (N'NCC01', N'Nhà Lê')
--INSERT [dbo].[NHACC] ([MANCC], [TENNCC]) VALUES (N'NCC02', N'Nguyễn Thiêm')
--INSERT [dbo].[NHACC] ([MANCC], [TENNCC]) VALUES (N'NCC03', N'Lương thực Miền Nam')
--INSERT [dbo].[NHACC] ([MANCC], [TENNCC]) VALUES (N'NCC04', N'Vilaconic')
--INSERT [dbo].[NHACC] ([MANCC], [TENNCC]) VALUES (N'NCC05', N'Intimex')
--INSERT [dbo].[NHACC] ([MANCC], [TENNCC]) VALUES (N'NCC06', N'Thực Phẩm Lương Gia')
--INSERT [dbo].[NHACC] ([MANCC], [TENNCC]) VALUES (N'NCC07', N'Vinafood')
--INSERT [dbo].[NHACC] ([MANCC], [TENNCC]) VALUES (N'NCC08', N'AGREX')
--GO
--INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [DIACHI], [LUONG]) VALUES (N'NV01', N'Nguyễn Vương Giáng Hạ', N'Nữ', N'TPHCM', N'0123456789', 10000000)
--INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [DIACHI], [LUONG]) VALUES (N'NV02', N'Nguyễn Vân Nam', N'Nữ', N'TPHCM', N'056473823', 10000000)
--INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [DIACHI], [LUONG]) VALUES (N'NV03', N'Đăng Bình Thanh', N'Nam', N'TPHCM', N'0682946245', 10000000)
--INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [DIACHI], [LUONG]) VALUES (N'NV04', N'Trịnh Văn Cao', N'Nam', N'TPHCM', N'0975382653', 10000000)
--INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [DIACHI], [LUONG]) VALUES (N'NV05', N'Nguyễn Hòa Bình', N'Nam', N'TPHCM', N'085284629', 10000000)
--INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [DIACHI], [LUONG]) VALUES (N'SV001', N'Dajdt', N'Nam', N'432', N'324', 432)
--GO
--INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANCC], [NGAYNHAP], [TONGTIEN]) VALUES (N'1', N'NCC03', CAST(N'2023-10-23T00:00:00.000' AS DateTime), 0)
--INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANCC], [NGAYNHAP], [TONGTIEN]) VALUES (N'12', N'NCC07', CAST(N'2023-10-27T00:00:00.000' AS DateTime), 33000)
--INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANCC], [NGAYNHAP], [TONGTIEN]) VALUES (N'a', N'NCC02', CAST(N'2023-10-23T00:00:00.000' AS DateTime), 0)
--INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANCC], [NGAYNHAP], [TONGTIEN]) VALUES (N'PN01', N'NCC03', CAST(N'2023-10-23T00:00:00.000' AS DateTime), 1500)
--INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANCC], [NGAYNHAP], [TONGTIEN]) VALUES (N'PN02', N'NCC07', CAST(N'2023-10-23T00:00:00.000' AS DateTime), 51000)
--INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANCC], [NGAYNHAP], [TONGTIEN]) VALUES (N'PN1', N'NCC05', CAST(N'2023-10-23T00:00:00.000' AS DateTime), 192000)
--INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANCC], [NGAYNHAP], [TONGTIEN]) VALUES (N'PN12', N'NCC04', CAST(N'2023-10-23T00:00:00.000' AS DateTime), 0)
--INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANCC], [NGAYNHAP], [TONGTIEN]) VALUES (N'PN4', N'NCC03', CAST(N'2023-10-23T00:00:00.000' AS DateTime), 13000)
--INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANCC], [NGAYNHAP], [TONGTIEN]) VALUES (N'PN7', N'NCC02', CAST(N'2023-10-23T00:00:00.000' AS DateTime), 176)
--INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANCC], [NGAYNHAP], [TONGTIEN]) VALUES (N'PN78', N'NCC04', CAST(N'2023-10-23T00:00:00.000' AS DateTime), 76000)
--INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANCC], [NGAYNHAP], [TONGTIEN]) VALUES (N'v', N'NCC04', CAST(N'2023-10-23T00:00:00.000' AS DateTime), 0)
--GO
--INSERT [dbo].[QL_NguoiDung] ([TenDangNhap], [MatKhau], [HoatDong]) VALUES (N'NV01', N'123', 0)
--INSERT [dbo].[QL_NguoiDung] ([TenDangNhap], [MatKhau], [HoatDong]) VALUES (N'NV02', N'123', 0)
--INSERT [dbo].[QL_NguoiDung] ([TenDangNhap], [MatKhau], [HoatDong]) VALUES (N'NV03', N'123', 0)
--GO
--INSERT [dbo].[QL_NguoiDungNhomNguoiDung] ([TenDangNhap], [MaNhomNguoiDung], [GhiChu]) VALUES (N'NV001', N'Admin', N'')
--INSERT [dbo].[QL_NguoiDungNhomNguoiDung] ([TenDangNhap], [MaNhomNguoiDung], [GhiChu]) VALUES (N'NV002', N'User', N'')
--INSERT [dbo].[QL_NguoiDungNhomNguoiDung] ([TenDangNhap], [MaNhomNguoiDung], [GhiChu]) VALUES (N'NV01', N'Admin', N'')
--INSERT [dbo].[QL_NguoiDungNhomNguoiDung] ([TenDangNhap], [MaNhomNguoiDung], [GhiChu]) VALUES (N'NV01', N'User', NULL)
--INSERT [dbo].[QL_NguoiDungNhomNguoiDung] ([TenDangNhap], [MaNhomNguoiDung], [GhiChu]) VALUES (N'NV02', N'User', N'')
--INSERT [dbo].[QL_NguoiDungNhomNguoiDung] ([TenDangNhap], [MaNhomNguoiDung], [GhiChu]) VALUES (N'NV03', N'Admin', NULL)
--GO
--INSERT [dbo].[QL_NhomNguoiDung] ([MaNhom], [TenNhom], [GhiChu]) VALUES (N'Admin', N'Admin', N'')
--INSERT [dbo].[QL_NhomNguoiDung] ([MaNhom], [TenNhom], [GhiChu]) VALUES (N'User', N'User', N'')
--GO
--INSERT [dbo].[QL_PhanQuyen] ([MaNhomNguoiDung], [MaManHinh], [CoQuyen]) VALUES (N'Admin', N'MH001', 0)
--INSERT [dbo].[QL_PhanQuyen] ([MaNhomNguoiDung], [MaManHinh], [CoQuyen]) VALUES (N'User', N'MH002', 0)
--GO
--INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MOTA], [MALOAI], [MANCC], [SOLUONG], [DONVITINH], [DONGIA]) VALUES (N'SP01', N'Phở vinfom', N'', N'L01', N'NCC07', 99, N'Gói', 6000)
--INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MOTA], [MALOAI], [MANCC], [SOLUONG], [DONVITINH], [DONGIA]) VALUES (N'SP02', N'Quế thanh', N'', N'L02', N'NCC07', 200, N'Gói', 12000)
--INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MOTA], [MALOAI], [MANCC], [SOLUONG], [DONVITINH], [DONGIA]) VALUES (N'SP03', N'Điều rang muối', N'', N'L05', N'NCC07', 200, N'H?p', 150000)
--INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MOTA], [MALOAI], [MANCC], [SOLUONG], [DONVITINH], [DONGIA]) VALUES (N'SP04', N'Lúa gạo', N'', N'L01', N'NCC05', 99, N'Bao', 250000)
--INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MOTA], [MALOAI], [MANCC], [SOLUONG], [DONVITINH], [DONGIA]) VALUES (N'SP05', N'Tiêu xay', N'', N'L04', N'NCC02', 99, N'Hũ', 16000)
--INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MOTA], [MALOAI], [MANCC], [SOLUONG], [DONVITINH], [DONGIA]) VALUES (N'SP07', N'Gạo ST25', N'', N'L02', N'NCC06', 20, N'Bao', 230000)
--INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MOTA], [MALOAI], [MANCC], [SOLUONG], [DONVITINH], [DONGIA]) VALUES (N'SP08', N'Chè Thái Nguyên', N'', N'L07', N'NCC08', 45, N'Gói', 106000)
--INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MOTA], [MALOAI], [MANCC], [SOLUONG], [DONVITINH], [DONGIA]) VALUES (N'SP8', N'ABC', N'a', N'L03', N'NCC04', 12, N'Gói', 12000)
--GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[DULIEUANH]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO

ALTER TABLE [dbo].[QL_NguoiDung]  WITH CHECK ADD FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
ALTER TABLE [dbo].[NGUYENLIEU]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO

ALTER TABLE [dbo].[CTPHIEUNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CTPHIEUNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
/****** Object:  StoredProcedure [dbo].[ScalarQuery]    Script Date: 10/29/2023 6:27:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ScalarQuery]
AS
	SET NOCOUNT ON;
SELECT        QL_NguoiDung.TenDangNhap, QL_NguoiDung.MatKhau
FROM            QL_NguoiDung INNER JOIN
                         QL_NguoiDungNhomNguoiDung ON QL_NguoiDung.TenDangNhap = QL_NguoiDungNhomNguoiDung.TenDangNhap
WHERE        (QL_NguoiDung.TenDangNhap = N'QL_NguoiDungNhomNguoiDung')
GO
USE [QL_QUANAN]
GO

--create table bàn
CREATE TABLE BAN (
    MABAN nvarchar(5) NOT NULL,
    SOBAN int NOT NULL,
    PRIMARY KEY (MABAN)
);

-- Thêm cột BAN_ID vào bảng HOADON
ALTER TABLE HOADON
ADD BAN_ID nvarchar(5) NULL;

-- Tạo khóa ngoại từ cột BAN_ID trong bảng HOADON đến bảng BAN
ALTER TABLE HOADON
ADD CONSTRAINT FK_HOADON_BAN
FOREIGN KEY (BAN_ID)
REFERENCES BAN (MABAN);

select * from ban
